<div class="navbar webapp-navbar">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="nav pull-right webapp-nav">
                <img class="webapp-head" src="{{user.avatar}}">
                <span>你好,</span>
                <span><a ui-sref="basicInfo">{{user.name}}</a></span>
                <span class="webapp-line">|</span>
                <span><a href="#/logout">注销</a></span>
                <span class="webapp-line">|</span>
                <span><a>返回</a></span>
            </div>
            <a class="bind webapp-bind" ui-sref="app.version" id="campdesk">
                <img src="app/asset/img/newlogo.png" style="width:90px;height:28px;">
                <span class="webapp-line webapp-line-big">|</span>
                <span class="">公众服务平台</span>
            </a>

        </div>
    </div>
</div>
